@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



*{
    font-family: Inter', sans-serif;
}



.bg-image{
    object-fit: cover;
    filter:brightness(0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.poke{
    object-fit: cover;
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ac-1{
    height: 100px;
    width: 100px;

}